{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Buy</title>
    <link rel="stylesheet" href="{% static './app/css/style.css'%}">
</head>
<body>
   <header>
    <span>
        <img src="{% static "./app/images/logo.png" %}" width = "30" alt="">
        <b>Easy<b>Buy</b></b>
    </span>
    <div>
     <form>
        <select name="features" id="">
        <option value="">All Categories</option>
        <option value="">Footwears</option>
        <option value="">Accesories</option>
        <option value="">Entertainment</option>
      </select>
            <input type="text" placeholder = "Search for Products">
        </form>
    </div>
    <small>
        <img src="{% static "./app/images/notifications.png" %}" width = "30" alt="">
        <img src= "{% static "./app/images/cart.png" %}"  width = "30" alt="">
    </small>
   </header>
   <main>

   </main>
   <footer>

   </footer>
</body>
</html>