{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Buy</title>
    <link rel="stylesheet" href="{% static './app/css/style.css'%}">
</head>
<body>
   <header>
    <span>
        <img src="{% static "./app/images/logo.png" %}" width = "30" alt="">
        <b>Easy<b>Buy</b></b>
    </span>
    <div>
     <form>
        <select name="features" id="">
        <option value="">All Categories</option>
        <option value="">Footwears</option>
        <option value="">Accesories</option>
        <option value="">Entertainment</option>
      </select>
            <input type="text" placeholder = "Search for Products">
            <button><img src="{% static "./app/images/search.png" %}" width = "30" alt=""></button>
        </form>
    </div>
    <small>
        <img src="{% static "./app/images/notifications.png" %}" width = "30" alt="">
        <img src= "{% static "./app/images/cart.png" %}"  width = "30" alt="" >
        <span>
            <b>Cart</b>
            <p>$0.00</p>
        </span>
    </small>
   </header>
  <nav class="first-dash"></nav>
  <div>
  <nav>
    <span class="vertical-dash-0"></span>
    <img src="{% static "./app/images/menu.png" %}" width = "30" alt="">
    <select name="features" id="">
        <option value="">All Categories</option>
        <option value="">Footwears</option>
        <option value="">Accesories</option>
        <option value="">Entertainment</option>
      </select>
      <span class="vertical-dash-1"></span>
      <div class = "navbar-1">
        <a href="" class = "nav-item">Home</a>
        <a href="" class = "nav-item">Shop</a>
        <select name="categories" id="categories"  class = "nav-item">
            <option value="">Categories</option>
        </select>
        <a href=""  class = "nav-item">Deals</a>
        <a href=""  class = "nav-item">About us</a>
        <a href=""  class = "nav-item">Contact</a>
      </div>
  </nav>
  </div>
   <nav class="second-dash"></nav>
  
   <main>
         {% block content %}
         

         
        {% endblock content %}


        {% block scripts %}{% endblock scripts %}

   </main>
   <footer>

   </footer>
</body>
</html>