{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="body-main-block-content">

    <!-- Existing content above -->


    <!-- Summer Sale Banner -->
    <section class="hero-banner">

        <button class="slider-btn prev">&#10094;</button>

        <div class="banner-slider">

            {% for banner in banners %}

            <div class="banner-slide {% if forloop.first %}active{% endif %}"
                 style="background: {{ banner.background_color }};">

                <div class="banner-content">

                    <!-- Left Side -->
                    <div class="banner-left">

                        <span class="sale-tag">
                            {{ banner.title }}
                        </span>

                        <h1>{{ banner.discount }}</h1>

                        <p>
                            {{ banner.subtitle }}
                        </p>

                        <div class="banner-buttons">

                            <a href="{{ banner.button1_link }}"
                               class="btn-primary">
                                {{ banner.button1_text }}
                            </a>

                            <a href="{{ banner.button2_link }}"
                               class="btn-secondary">
                                {{ banner.button2_text }}
                            </a>

                        </div>

                    </div>


                    <!-- Right Side -->
                    <div class="banner-right">

                        <div class="circle image1">
                            <img src="{{ banner.image1.url }}" class = "product product1">
                        </div>

                        <div class="circle image2">
                            <img src="{{ banner.image2.url }}" class = "product product2">
                        </div>

                        <div class="circle image3">
                            <img src="{{ banner.image3.url }}" class = "product product3">
                        </div>

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

        <button class="slider-btn next">&#10095;</button>

    </section>


    <!-- Existing content below -->

</div>

<script src="{% static './app/js/app.js' %}"></script>



{% endblock content %}