{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="body-main-block-content">

    <!-- Existing content above -->


    <!-- Summer Sale Banner -->
    <section class="hero-banner">

        <button class="slider-btn prev">&#10094;</button>

        <div class="banner-slider">

            {% for banner in banners %}

            <div class="banner-slide {% if forloop.first %}active{% endif %}"
                 style="background: {{ banner.background_color }};">

                <div class="banner-content">

                    <!-- Left Side -->
                    <div class="banner-left">

                        <span class="sale-tag">
                            {{ banner.title }}
                        </span>

                        <h1>{{ banner.discount }}</h1>

                        <p>
                            {{ banner.subtitle }}
                        </p>

                        <div class="banner-buttons">

                            <a href="{{ banner.button1_link }}"
                               class="btn-primary">
                                {{ banner.button1_text }}
                            </a>

                            <a href="{{ banner.button2_link }}"
                               class="btn-secondary">
                                {{ banner.button2_text }}
                            </a>

                        </div>

                    </div>


                    <!-- Right Side -->
                    <div class="banner-right">

                        <div class="circle image1">
                            <img src="{{ banner.image1.url }}" class = "product product1">
                        </div>

                        <div class="circle image2">
                            <img src="{{ banner.image2.url }}" class = "product product2">
                        </div>

                        <div class="circle image3">
                            <img src="{{ banner.image3.url }}" class = "product product3">
                        </div>

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

        <button class="slider-btn next">&#10095;</button>

    </section>

    <section class = "services">
        <span>
            <img src="{% static "./app/images/bus.png" %}" width = "20" alt="" class = "free"></img>
            <div>
                <b>Free Shopping</b>
                <p>On orders over $50</p>
            </div>
        </span>

         <span>
             <img src="{% static "./app/images/secure.png" %}" width = "20" alt="" class = "secure"></img>
            <div>
                <b>Secure Payments</b>
                <p>100% secure checkouts</p>
            </div>
        </span>

         <span>
            <img src="{% static "./app/images/easy_returns.png" %}" width = "20" alt="" class = "return"></img>
            <div>
                <b>Easy Returns</b>
                <p>30-day return policy</p>
            </div>
        </span>

         <span>
             <img src="{% static "./app/images/headphones.png" %}" width = "20" alt="" class = "headphones"></img>
            <div>
                <b>24/7 Support</b>
                <p>Dedicated Support</p>
            </div>
        </span>
    </section>

    <section class = "items">
        <div>
            <b>Shop by Category</b>
            <a href="">View all → </a>
        </div>

        <span>
            <div>
            <a href="" class = "electronics"><img src="{% static "./app/images/phone.png" %}" width = "20"  alt=""></img></a>
            <b>Electronics</b>
            </div>

              <div>
            <a href="" class = "fashion"><img src="{% static "./app/images/y_shirt.png" %}" width = "20" alt=""></img></a>
            <b>Fashion</b>
            </div>

              <div>
             <a href="" class = "home"><img src="{% static "./app/images/g_chair.png" %}" width = "20" alt=""></img></a>
            <b>Home & Kitchen</b>
            </div>

              <div>
            <a href="" class = "beauty"><img src="{% static "./app/images/p_cream.png" %}" width = "20" alt=""></img></a>
            <b>Beauty</b>
            </div>

              <div>
            <a href="" class = "sports"><img src="{% static "./app/images/b_ball.png" %}" width = "20" alt=""></img></a>
            <b>Sports</b>
            </div>

           
        </span>

        
    </section>


    <!-- Existing content below -->

</div>

<script src="{% static './app/js/app.js' %}"></script>



{% endblock content %}