*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: 0.5s;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

header > span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

header > span > img{
    width: 40px;
    height: 40px;
}

header > span > b{
    font-size: 25px;
}

header > span > b > b{
    color: blue;
}

header > div{
    width: 50%;
}

header > div > form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

header > div > form > select{
    width: 200px;
    padding: 5px ;
    background-color: whitesmoke;
    border: none;
    height: 45px;
}

header > div > form > input{
    width: 100%;
    height: 45px;
    padding: 5px ;
    background-color: whitesmoke;
    outline: none;
    border: none;
}

header > div > form > button{
    padding: 5px;
    background-color: blue;
    width: 70px;
    border: none;
    height: 45px;
    cursor: pointer;
}

header > small{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

header > small > img{
   width: 55px;
   object-fit: cover;
   height: 50px;

}

header > small > span{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

header > small > span > b{
    font-size: 18px;
}

header > small > span > p{
    color: blue;
    font-size: 13px;
}

.first-dash{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: grey;
}

body > div{
 display: flex;
 justify-content: flex-start;
 padding: 10px 50px;
}

body > div > nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vertical-dash-0{
    height: 40px;
    background-color: grey;
    width: 1px;
    margin-right: 20px;
}

body > div > nav > select{
    width: 200px;
    padding: 5px ;
    background-color: white;
    border: none;
    height: 45px;
}

.vertical-dash-1{
     height: 40px;
    background-color: grey;
    width: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-1{
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-1 > a{
    color: black;
    font-weight: 500;
    font-size: 15px;
}

#categories{
     width: 130px;
    padding: 5px ;
    background-color: white;
    border: none;
    height: 45px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 10px;
}


.nav-item {
  position: relative;                  
  padding-bottom: 6px;        
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0); 
  width: 40px;                 
  height: 3px;                
  background-color: #007bff;   
  transition: transform 0.25s ease-in-out; 
}

.nav-item:hover::after {
  transform: translateX(-50%) scaleX(1); 
}

.second-dash{
     width: 100%;
    height: 1px;
    background-color: grey;
}

.hero-banner{
    position:relative;
    margin:40px 0;
    border-radius:25px;
    overflow:hidden;
}

.banner-slide{
    display:none;
    padding:70px;
    min-height:450px;
    color:white;
    transition:.5s;
}

.banner-slide.active{
    display:block;
}

.banner-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.banner-left{
    width:45%;
}

.sale-tag{
    background:blue;
    padding:8px 20px;
    border-radius:30px;
    font-size:20px;
}

.banner-left h1{
    font-size:70px;
    margin-top:25px;
    margin-bottom:20px;
}

.banner-left p{
    font-size:18px;
    line-height:1.8;
    color:#d6d6d6;
    margin-bottom:30px;
}

.banner-buttons{
    display:flex;
    gap:20px;
}

.btn-primary{
    text-decoration:none;
    background: rgba(26, 26, 221, 0.562);
    color:white;
    padding:15px 35px;
    border-radius:50px;
    font-weight:600;
}

.btn-secondary{
    text-decoration:none;
    border:1px solid rgba(255,255,255,.3);
    color:white;
    padding:15px 35px;
    border-radius:50px;
}

.banner-right{
    width:55%;
    position:relative;
    height:450px;
    gap: 170px;
}

.circle{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.circle img{
    width:80%;
    object-fit:contain;
    transition:.5s;
}


.image1{
    width:320px;
    height:320px;
    top:60px;
    left:0;
}

.image2{
    width:250px;
    height:250px;
    top:240px;
    left:235px;
}

.image3{
    width:350px;
    height:350px;
    top:20px;
    right:10px;
    left: 350px;
}

.slider-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:50px;
    height:50px;
    border:none;
    background:rgba(255,255,255,.2);
    color:white;
    font-size:25px;
    border-radius:50%;
    cursor:pointer;
    z-index:10;
}

.prev{
    left:15px;
}

.next{
    right:15px;
}

.slider-btn:hover{
    background:#ff6b00;
}

.services{
  width: 100%;
  height: 40px;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.services > span{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.free{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightblue;
  padding: 10px ;
}

.secure{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(215, 250, 215);
  padding: 10px ;
}

.return{
   width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(248, 246, 124);
  padding: 10px ;
}

.headphones{
   width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(222, 157, 252);
  padding: 10px ;
}

.services > span > div > b{
  font-weight: 650;
}

.services > span > div > p{
  font-weight: 400;
}

.items{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.items > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
}

.items > div > b{
  font-weight: 700;
  font-size: 20px;
}

.items > div > a{
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.items > span{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 50 30px;
  flex-wrap: wrap;
}

.items > span > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(240, 238, 238);
  padding: 10px 40px;
  border-radius: 13px;
}

.items > span > div > a > img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 10px;
}

.electronics{
   padding: 10px 30px;
  background-color: rgb(242, 242, 243);
  border-radius: 15px;
}

.fashion{
   padding: 10px 30px;
  background-color: rgb(253, 243, 252);
  border-radius: 15px;
}

.home{
   padding: 10px 30px;
  background-color: rgb(243, 250, 245);
  border-radius: 15px;
}

.beauty{
   padding: 10px 30px;
  background-color: rgb(248, 221, 236);
  border-radius: 15px;
}

.sports{
   padding: 10px 30px;
  background-color: rgb(255, 235, 255);
  border-radius: 15px;
}